# Ignore uncrustify backups
*.unc*
doc/html/*
demos/infineon/xmc4800_iotkit_trustx/dave4/.settings/language.settings.xml
demos/infineon/xmc4800_iotkit_trustx/dave4/.settings/com.dave.mbs.xc800.prefs
demos/infineon/xmc4800_iotkit_trustx/dave4/.settings/language.settings.xml
demos/infineon/xmc4800_iotkit_trustx/dave4/.settings/com.dave.mbs.xc800.prefs
demos/infineon/xmc4800_iotkit_trustx/dave4/.settings/com.dave.mbs.xc800.prefs
demos/infineon/xmc4800_iotkit_trustx/dave4/.settings/language.settings.xml
demos/infineon/xmc4800_iotkit_trustx/dave4/.settings/com.dave.mbs.xc800.prefs
*.mk
*.lst
*.o
*.d
demos/infineon/xmc4800_iotkit_trustx/dave4/Debug/makefile
demos/infineon/xmc4800_iotkit_trustx/dave4/Release/aws_demos.elf
*.hex
*.map
*.rsp
demos/infineon/xmc4800_iotkit_trustx/dave4/Release/makefile
demos/infineon/xmc4800_iotkit_trustx/dave4/Debug/aws_demos.elf
demos/infineon/xmc4800_iotkit_trustx/dave4/Release/makefile
demos/infineon/xmc4800_iotkit_trustx/dave4/Release/makefile
demos/infineon/xmc4800_iotkit_trustx/dave4/Release/makefile
demos/infineon/xmc4800_iotkit_trustx/dave4/Release/makefile
demos/infineon/xmc4800_iotkit_trustx/dave4/.settings/language.settings.xml
*.xml
demos/infineon/xmc4800_iotkit_trustx/dave4/.settings/language.settings.xml
demos/infineon/xmc4800_iotkit_trustx/dave4/.settings/language.settings.xml
demos/infineon/xmc4800_iotkit_trustm/dave4/Debug/aws_demos_trustm.elf
demos/infineon/xmc4800_iotkit_trustm/dave4/Debug/makefile
*.elf
demos/infineon/xmc4800_iotkit_trustm/dave4/Software_Security/makefile
demos/infineon/xmc4800_iotkit_trustm/dave4/TLS_client_secret_in_flash/makefile
demos/infineon/xmc4800_iotkit_trustm/dave4/TLS_client_secret_in_trustm/makefile
